{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5">
                <div class="text-center text-white">
                    <h1 class="display-8 fw-bolder">О нас</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Добро пожаловать в наш магазин</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/><br/>
                        <p align="justify">
                            Добро пожаловать в мир радости и позитива - приветствует вас наш уютный уголок, магазин напитков "Позитив"!
                            Мы верим, что каждый день можно начать с улыбки, а ингредиенты для этой улыбки всегда находятся в нашем ассортименте.В нашем магазине вы найдете не только любимые напитки, но и долю вдохновения, бодрости и, конечно же, позитива!
                            Наша команда стремится делать ваш выбор не только приятным, но и интересным. Мы следим за последними тенденциями в мире напитков, чтобы предложить вам самые свежие и оригинальные вкусы.
                        </p>
<br/><br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}